/*
reglas css 

una regla css tiene el siguiente formato:

selector {
  propiedad-css: valor;
  propiedad-css: valor;
  propiedad-css: valor;
  propiedad-css: valor;
  propiedad-css: valor;
}
*/

/* Selector basico CSS para seleccionar etiquetas HTML */

header h1 {
  color: red;
  font-size: 4em;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold; 
  font-variant: small-caps;
  text-align: center;
  background-color: black;
  background-image: url(http://placehold.it/300x3300);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: left top;
  border: 10px yellow double;
}

/*
  font-weight: lighter/normal/bold
  font-weight: 100 - 900;
*/

article h3 a {
  font-size: 40px;
}

p {
  text-align: justify;
}

/* 
  #algo -> selecciona a una etiqueta html con el atributo id='algo'
*/

#especial a {
  color: red;
}

/*
  .algo -> selecciona todas las etiquetas html con el atributo class='algo'
*/

.fondo-negro {
  background-color: black;
  color: white;
}

article a {
  color: black;
}