@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

body, html {
  margin: 0;
  padding: 0;
  padding-top: 1em;
}

.row {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row img {
  max-width: 100%;
}

.c-1  { flex: 0 0 8.333%;  }
.c-2  { flex: 0 0 16.666%; }
.c-3  { flex: 0 0 25%;     }
.c-4  { flex: 0 0 33.333%; }
.c-5  { flex: 0 0 41.666%; }
.c-6  { flex: 0 0 50%;     }
.c-7  { flex: 0 0 58.333%; }
.c-8  { flex: 0 0 66.666%; }
.c-8  { flex: 0 0 75%;     }
.c-10 { flex: 0 0 83.333%; }
.c-11 { flex: 0 0 91.666%; }
.c-12 { flex: 0 0 100%;    }

/*
A y B son numeros enteros (1,2,3,4,5... 4000)

@media screen and (max-width: Bpx) and (min-width: Apx) {
  aplicara estas reglas css para pantallas cuyo ancho sea mayor Apx y menor Bpx
}

@media screen and (max-width: Npx) {
  aplicara estas reglas css a patanlla cuyo ancho sea menor a Npx
}

@media screen and (min-width: Npx) {
  aplicara estas reglas css a patanlla cuyo ancho sea mayor a Npx
}
*/

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/*
=========================== BOTONES ============================

fuentes: 
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

.btn {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  display: inline-block;
  padding: 0.8em 1.2em;
  color: white;
  font-size: 0.9em;
  background-color: #3498db;
  box-shadow: 0 0 2px 0 #1d5880; /* X Y BLUR SPREAD COLOR */
  border-radius: 5px; 
  /* 
    VALUE -> ese valor aplica a todas las esquinas
    VALUE1 VALUE2 -> Value1 top/left y bottom/right, value2 a top/right y bottom/left
    VALUE1 VALUE2 VALUE3 VALUE4 -> Top/Left, Top/Right, Bottom/Right, Bottom/left
  */
  text-shadow: -1px -1px 0 #1d5880; /* X Y BLUR COLOR */
  transition: all 400ms ease; /* property duration acceleration delay  */
}

/* .btn:link {}  es el enlace en estado natural */
.btn:hover {
  background-color: #2980b9;
  transform: scale(1.1);
  /*
    rotate(45deg) -> 2D
    rotateZ(45deg) rotateY(45deg) rotateX(45deg) -> 3D
    translate(100px)
    scale(1.5) -> escalar a 150% el tamaño original
    skewY(45deg) -> Cambia el angulo de los vertices del elemento, en X  o en Y
  */
  
} /* cuando el enlace tiene el mouse sobre el */
.btn:active {
  box-shadow: 0 -2px 0 #aed3eb inset;
} /* cuando el enlace esta click down */
/*.btn:visited {}  si el enlace del boton ya esta en historial */

.btn.btn-grande {
  font-size: 1.4em;
}

.btn.btn-small {
  font-size: 0.8em;
}

.btn.btn-block {
  display: block;
  box-sizing: border-box;
}

.btn.btn-rojo {
  background-color: #e74c3c;
}
.btn.btn-rojo:hover {
  background-color: #ce4031;
}
.btn.btn-rojo:active {
  box-shadow: 0 -2px 0 #ffafa6 inset;
}

.btn.btn-verde {
  background-color: #2ecc71;
}
.btn.btn-verde:  hover {
  background-color: #27ae60;
}
.btn.btn-verde:active {
  box-shadow: 0 -2px 0 #27ae60 inset;
}










