.btn {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  display: inline-block;
  padding: 0.8em 1.2em;
  color: white;
  font-size: 0.9em;
  background-color: #3498db;
  box-shadow: 0 0 2px 0 #1d5880; /* X Y BLUR SPREAD COLOR */
  border-radius: 5px; 
  /* 
    VALUE -> ese valor aplica a todas las esquinas
    VALUE1 VALUE2 -> Value1 top/left y bottom/right, value2 a top/right y bottom/left
    VALUE1 VALUE2 VALUE3 VALUE4 -> Top/Left, Top/Right, Bottom/Right, Bottom/left
  */
  text-shadow: -1px -1px 0 #1d5880; /* X Y BLUR COLOR */
  transition: all 400ms ease; /* property duration acceleration delay  */
}

/* .btn:link {}  es el enlace en estado natural */
.btn:hover {
  background-color: #2980b9;
  transform: scale(1.1);
  /*
    rotate(45deg) -> 2D
    rotateZ(45deg) rotateY(45deg) rotateX(45deg) -> 3D
    translate(100px)
    scale(1.5) -> escalar a 150% el tamaño original
    skewY(45deg) -> Cambia el angulo de los vertices del elemento, en X  o en Y
  */
  
} /* cuando el enlace tiene el mouse sobre el */
.btn:active {
  box-shadow: 0 -2px 0 #aed3eb inset;
} /* cuando el enlace esta click down */
/*.btn:visited {}  si el enlace del boton ya esta en historial */

.btn.btn-grande {
  font-size: 1.4em;
}

.btn.btn-small {
  font-size: 0.8em;
}

.btn.btn-block {
  display: block;
  box-sizing: border-box;
}

.btn.btn-rojo {
  background-color: #e74c3c;
}
.btn.btn-rojo:hover {
  background-color: #ce4031;
}
.btn.btn-rojo:active {
  box-shadow: 0 -2px 0 #ffafa6 inset;
}

.btn.btn-verde {
  background-color: #2ecc71;
}
.btn.btn-verde:  hover {
  background-color: #27ae60;
}
.btn.btn-verde:active {
  box-shadow: 0 -2px 0 #27ae60 inset;
}

.btn.btn-icon {
  position: relative;
  overflow: hidden;
}

.btn.btn-icon i {
  height: 100%;
  font-size: 1.6em;
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 0 0.3em;
  line-height: 1.7em;
  transition: all 400ms ease;
  transform: translateX(-2em);
  box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.2);
}

.btn.btn-icon:hover {
  padding-left: 3em;
}

.btn.btn-icon:hover i {
  transform: rotate(360deg) translateX(0);
} 






























