@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 1em;
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
  box-shadow: 0 0 2px 0 #3aa380;
  border-bottom: 2px solid rgba(58, 163, 128, 0.49);
  border-radius: 0.4em;
  transition: all 400ms ease;
}

.menu li {
  flex: 1 0 auto;
  position: relative;
}

.menu li a {
  display: block;
  padding: 0.8em 1.2em;
  font-family: Roboto;
  font-size: 0.9em;
  color: black;
  text-decoration: none;
  background-color: aquamarine;
  transition: all 400ms ease;
  border-right: 1px solid #0bdb95;
  border-left: 1px solid #d6fff1;
}

.menu li:first-child a {
  border-left: 0 solid transparent;
}

.menu li:last-child a {
  border-right: 0 solid transparent;
}

/*
.menu li:nth-child() {
  
}
*/

.menu li a:hover {
  background-color: #0bdb95;
  color: white;
  text-shadow: 0 -1px 0 #005236;
}

.menu .menu {
  margin-top: 0;
  position: absolute;
  top: 2em;
  left: 0;
  width: 220px;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(77, 77, 77, 0.8);
}

.menu .menu li a {
  border-top: 1px solid #000000;
  border-bottom: 1px solid #717171;
  border-right: 0px solid #0bdb95;
  border-left: 0px solid #d6fff1;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

.menu .menu li:first-child a {
  border-top: 0 solid transparent;
}

.menu .menu li a:hover {
  background-color: rgba(4, 76, 149, 0.8);
}

/* permite que el submenu (.menu .menu), aparezca cuando hacer hover sobre el li */
.menu li:hover .menu {
  opacity: 1;
  visibility: visible;
  top: 2.5em;
}





