body, html {
  margin: 0;
  padding: 0;
}

.row {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.row img {
  max-width: 100%;
}

.center-text {
  text-align: center;
}

.font-monospace {
  font-family: monospace;
}

.fondo-azul {
  background-color: aqua;
  color: white;
}

.c-1  { flex: 0 0 8.333%;  }
.c-2  { flex: 0 0 16.666%; }
.c-3  { flex: 0 0 25%;     }
.c-4  { flex: 0 0 33.333%; }
.c-5  { flex: 0 0 41.666%; }
.c-6  { flex: 0 0 50%;     }
.c-7  { flex: 0 0 58.333%; }
.c-8  { flex: 0 0 66.666%; }
.c-8  { flex: 0 0 75%;     }
.c-10 { flex: 0 0 83.333%; }
.c-11 { flex: 0 0 91.666%; }
.c-12 { flex: 0 0 100%;    }

/*
A y B son numeros enteros (1,2,3,4,5... 4000)

@media screen and (max-width: Bpx) and (min-width: Apx) {
  aplicara estas reglas css para pantallas cuyo ancho sea mayor Apx y menor Bpx
}

@media screen and (max-width: Npx) {
  aplicara estas reglas css a patanlla cuyo ancho sea menor a Npx
}

@media screen and (min-width: Npx) {
  aplicara estas reglas css a patanlla cuyo ancho sea mayor a Npx
}
*/

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}












