html {
  margin: 0;
  padding: 0;
}

body {
  padding: 1em 1em;
  margin: 0;
}

a {
  width: 100%;
  height: 40px;
  background-color: black;
  color: white;
  display: inline;
}

.align-block, 
.align-table, 
.align-float, 
.align-flex {
  box-sizing: border-box;
  padding: 1em;
  margin-bottom: 1em;
}

.align-block {
  border: 5px solid #16a085;
}

.align-table {
  border: 5px solid #9b59b6;
}

.align-float {
  border: 5px solid #c0392b;
}

.align-flex {
  border: 5px solid #f1c40f;
}

.align-block .element {
  box-sizing: border-box;
  width: 32.8%;
  display: inline-block;
}

.align-table .element {
  display: table-cell;
  padding: 0.5em;
}

.align-table .element div {
  border: 1px solid #000;
  padding: 0.5em;
}

.align-float .element {
  float: left;
  width: 33.33%;
  box-sizing: border-box;
}

.align-float .element div {
  border: 1px solid #000;
  padding: 1em;
  margin: 1em;
}

.align-float:after,
.align-float:before {
  display: block;
  width: 100%;
  content: '';
  clear: both;
}

.align-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  height: 4000px;
}

.align-flex .element {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 50%;
  flex: 1 1 50%;
  box-sizing: border-box;
  border: 1px solid #000;
  padding: 1em;
}

.align-flex #ultimo {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  -ms-flex-item-align: end;
  align-self: flex-end;
}





























