@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Lobster|Roboto:100,300,400,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Droid Serif', serif;
  font-size: 0.9em;
  color: #5c5c5c;
  word-spacing: 0.2em;
  letter-spacing: 0;
}

.page-wrapper {
  padding: 4em;
}

h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5em;
  font-family: Roboto;
  margin-top: 3em;
}

p {
  line-height: 1.8em;
}

a {
  color: #5d5d9a;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.intro header {
  text-align: center;
  font-family: Roboto;
  background-image: url(images/huntington.jpg);
  background-size: cover;
  padding: 2em;
  font-size: 1.3em;
  margin: -4em -3em 2em -4em;
  /*  
    margin: 1em -> aplica a todos lados
    margin: A B -> aplica A hacia arriba y hacia abajo y B a la izquierda y la derecha
    margin: A B C -> A aplica hacia arriba, B a los lados, y C abajo
    margin: A B C D -> A (top), B (right), C(bottom), D(left)
  */
}

/*
Selector compuesto OR
.intro header h1,
.intro header h2 {}
*/

.intro header h1 {
  font-size: 2em;
  font-variant: small-caps;
  color: white;
  font-weight: 300;
  margin-bottom: 0;
  padding-bottom: 0;
}

.intro header h2 {
  margin-top: 0;
  font-size: 1em;
  color: #c3bebe;
  font-family: 'Lobster', cursive;
  font-weight: 100;
}

.intro .summary a {
  text-decoration: none;
  font-family: Roboto;
  color: #b19e89;
  text-transform: uppercase;
}

/*
.intro:hover
.summary:visited

selectorConocido:hover {}
*/

.intro .summary {
  margin-bottom: 0em;  
}

.intro .summary a:link {}
.intro .summary a:hover {
  background-color: #5d5d9a;
  color: white;
  padding: 0.3em 0.6em;
  margin-left: -0.6em;
  margin-right: -0.5em;
}
.intro .summary a:active {}
.intro .summary a:visited {}

.participation,
.benefits {
  margin: 0 -4em;
  padding: 4em 4em 1em 4em;
  background-color: rgba(138,188,159,0.5);
  background-image: url(./images/contours-opaque.png), url(./images/gridlines-opaque.png), url(./images/bamboo.png);
  background-attachment: fixed;
}

.participation h3,
.benefits h3 {
  margin-top: 0;
}

/*
.class
#id
[role=contentinfo]
[class=main]
[id=algo]
*/

.main.supporting p[role=contentinfo] {
  color: rgba(245, 245, 220, 0.5);
  background-size: cover;
  background-image: url(images/koi.jpg);
  margin: 0 -2.5em 0 -2.5em;
  padding: 3.5em;
  font-size: 1.6em;
  font-family: Lobster;
  font-weight: 100;
}

.main.supporting p[role=contentinfo] a {
  color: rgba(255, 255, 255, 0.75);
}

.main.supporting footer {
  background-color: #2c3e50;
  padding: 2em;
  margin: 0 -4em;
  text-align: center;
}

.main.supporting footer a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.2em;
  font-family: Lobster;
  letter-spacing: 0.1em;
  margin: 0 1em;
}

.design-selection nav ul {
  margin: 1em -4em 0 -4em;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.design-selection nav ul li {
  box-sizing: border-box;
  width: 50%;
  padding: 2em 3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

.design-selection nav ul li {
  font-family: Lobster;
}

.design-selection nav ul li a {
  font-family: 'Droid serif';
}

.design-selection nav ul li a:first-child {
  display: block;
  font-size: 1.2em;
  color: #488848;
  text-transform: uppercase;
}

.design-selection nav ul li a:last-child {
  color: #000000;
}

.design-selection .select {
  display: none;
}

















