body {
  padding-top: 150px;
}

.cuadro-pequeno {
  width: 150px;
  height: 150px;
  background-color: #baba9f;
  margin: 1em;
}
.fecha {
  color: white;
}
.updated {
  color: blue;
/*
  position: relative;
  top: 40px;
*/
}
.time {
  color: red;
}

#cuadro-a-rojo {
  position: relative;
  bottom: 10px;
  left: 20px;
  border: 0.5em solid #d00303;
  width: 300px;
}

#cuadro-a-verde {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 0.5em solid green;
}

#cuadro-a-azul {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  border: 0.5em solid blue;
}

.grande {
  position: relative;
  background-color: beige;
  border: 0.4em solid #c3c3c3;
}

#cuadro-b-rojo {
  position: absolute;
  top: 0;
  right: 0;
  border: 1em solid #d00303;
  margin: 0;
  z-index: 2;
}

#cuadro-b-verde {
  position: fixed;
  bottom: 0;
  right: 200px;
  border: 1em solid green;
}

#cuadro-b-azul {
  position: relative;
  top: 10px;
  left: 40px;
  border: 1em solid blue;
}

.navegacion-flotante {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: aqua;
}